html {
  height: 100%;
}
body {
  margin: 0;
  background-color: var(--black-bg, #131313);
  color: #F5F5F5;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 21.6px;
  font-weight: 400;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section_theme_dark {
  background: var(--black-bg, #131313);
}
.content-section_theme_bright {
  background: var(--yellow-bg, #FEE42A);
  color: var(--black-bg, #131313);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.header {
  /* background: rebeccapurple; */
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 78px;
}
.header__menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px 0;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}
.header__menu-link {
  /* text-decoration: none; */
  color: white;
}


.main {
  flex-grow: 1;
}
.cover {
  margin-top:  7px;
  margin-bottom: 30px;
  background-image: url(/images/cover.svg);
  /* background-position: right center; */
  background-size: cover;
  min-height: 221px;
  font-family: 'EB Garamond', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  background-repeat: no-repeat;
  background-size: 95% auto;
  color: white;
}

.intro {
  margin-top: 30px;
  margin-bottom: 24px;
}

.intro__heading {
  display: flex;
  color: var(--text-gray, #CCC);
}
.intro__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.intro__date {
  white-space: nowrap;
}

.intro__main {
  margin-bottom: 37px;
}

.intro__main-text {
  margin-top: 24px;
}

.reasons, .how-to {
  padding-top: 40px;
  padding-bottom: 40px;
}
.how-to {
  padding-bottom: 27px;
}


.content-section__subtitle {
  font-size: 28px;
  font-family: 'EB Garamond', sans-serif;
  font-weight: 500;
  line-height: 115%;
}

.content-section__introduction {
  font-size: 20px;
  line-height: 27px;
}

.content-section__list-item {
  margin-top: 16px;
}

.content-section__list-accent {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}


.content-section__introduction {
  margin: 32px 0;;
}

.cards-list {
  list-style-type: none;
}

.card {
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 32px;
  padding-top: 17px;
}



.card__author-photo {
  width: 100px;
}

.card__author-name {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.card__content {
  margin-top: 8px;
}

.card__title {
  font-family: 'EB Garamond', sans-serif;
  font-size: 22px;
  line-height: 135%; /* 29.7px */
  margin-bottom: 8px;
  font-weight: 500;
}

.card_theme_dark {
  background: var(--gray-bg, #343434);
}

.card_theme_bright {
  background: var(--yellow-bg, #FEE42A);
  color:  var(--black-bg, #131313);;
}

.content-section__list {
  padding-left: 16px;
  /* padding-right: 16px; */
}

.accent-span {
  display: block;
}



.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: -1px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid var(--yellow-bg, #FEE42A);
}

.footer__links {
  list-style-type: none;
  display: flex;
  gap: 0 16px;
  font-size: 14px;
}
.footer__link {
  color: #F5F5F5;
  text-decoration: none;
  font-size: 14px;
  line-height: 125%; /* 17.5px */
}
