html {
  height: 100%;
}
body {
  margin: 0;
  background-color: #1e1e1e;
  color: white;
  font-family: Inter;
  font-weight: 400;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.header {
  background: rebeccapurple;
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 78px;
}
.header__menu-list {
  list-style-type: none;
}

.header__menu-item_active {
  text-decoration: none;
}
.header__menu-link {
  /* text-decoration: none; */
  color: white;
}


.main {
  flex-grow: 1;
}
.cover {
  padding-top: 7px;
  padding-bottom: 30px;
  background-image: url(/images/cover.svg);
  background-size: cover;
  height: 221px;
  font-family: 'EB Garamond';
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
}

.accent-span {
  display: block;
}



.content-section {
  box-sizing: border-box;
  width: 360px;
  padding-left: 20px;
  padding-right: 20px;
}
.content-section_theme_dark {
  background: #131313;
}
.content-section_theme_bright {
  background: #FEE42A;
  color: #131313;
}
.footer {
  background: violet;
}
